/*
  Configurações de fontes, CSS Reset, Estilos mais gerais ou relacionados à raiz da página.
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
  padding: 0;
  margin: 0;

  list-style: none;

  box-sizing: border-box;

  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  
  min-width: 32px;
  
  padding: 8px;

  font-size: 16px;
  color: #1E1E1E;

  background-color: transparent;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.default-button:hover, .default-button.default-button--highlighted {
  background-color: #F5F5F5;
}

.default-button.default-button--disabled {
  opacity: 0.5;

  pointer-events: none;

  color: #757575;
}

.default-button.default-button--selected {
  color: #FFF;
  background-color: #2C2C2C;
}

.default-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 99px;

  padding: 0 32px;

  border-bottom: 1px solid #D9D9D9;
}

.default-header h1 {
  width: 124px;
}

.default-header a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.default-header .logo {
  width: 100%;
}

.default-header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.only-screen-reader {
  position: absolute;
  left: -99999999px;
}
