/*
  Estilos relacionados à listagem de pokémons
*/

.pokedex-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 203px);
  gap: 17px;

  position: relative;

  width: 1337px;
  max-width: 100%;

  padding: 0 17px;

  margin: 0 auto 104px auto;
}

.pokedex-list * {
  font-family: 'DM Sans', sans-serif;
}

.pokedex-list[aria-busy="true"] {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 600px;

  animation: opacityAnimation .5s linear;
}

.pokedex-list[aria-busy="true"] * {
  display: none;
}

.pokedex-list[aria-busy="true"]::after {
  display: block;
  content: '';

  background-image: url('../assets/images/vectors/loading.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px 200px;

  animation: loadingAnimation 1s linear infinite;

  width: 200px;
  height: 200px;
}

.pokedex-list article {
  width: 203px;
  height: 285px;

  padding: 13px;

  position: relative;

  background-color: #F0F3FF;

  border-radius: 8px;
}

.pokedex-list article header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 22px;
}

.pokedex-list article header h2 {
  position: absolute;
  bottom: 0;
  left: 0px;

  width: 100%;
  height: 61px;

  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #212E4C;
}

.pokedex-list article header .pokemon-type {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
}

.pokedex-list article header .pokemon-number {
  font-weight: 700;
  font-size: 13px;
  color: #263156;
}

.pokedex-list .image-container {
  width: 143px;
  height: 143px;

  margin: auto;
}

.pokedex-list .image-container img {
  width: 100%;
}

.pokedex-list .pokedex-list-alert {
  width: 500px;
  max-width: 100%;

  text-align: center;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}